/*GENERAL CSS*/
#return_btn {
    z-index: 9998;
    margin-left:auto;
}

body {
    background-image: linear-gradient(#98C1D9,#3D5A80);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 6em;
    border:solid;
    padding:2%;
}

.navbar-custom-1{
    background-color: #3D5A80;
    color:white;
}

.custom-toggler{
    background-color:white;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=EE6C4D');
}
.custom-toggler:hover .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=ffffff');
}
.custom-toggler:hover {
    background-color: #EE6C4D;
}

a:hover {
    color: #EE6C4D;
}

#checkout_icon {
    height: 40px;
    margin-left: 20px;
}

#view{
    background-image:none;
    width:100%;
    height:100vh;
    top:0px;
    position:fixed;
    z-index:9999;
    display:none;
}

.view-custom{
    margin:auto;
}

.carousel-caption{
    text-align:left;
    margin-bottom:10vh;
}

.btn{
    font-size:1em;
    background-color:#EE6C4D;
    color:white;
}

    .btn:hover, .btn-outline-custom:hover {
        font-size: 102%;
        background-color: white;
        color: #EE6C4D;
        outline-color: #EE6C4D;
    }

.btn-outline-custom {
    outline-color: white;
    outline-style: solid;
    outline-width: 1px;
}

#collections .col-md-8, #collections .col-md-4 {
    padding: 0;
}

#collections img{
    width:100%;
}

.featured_content .card{
    height:100%;
}

.container-custom-footer {
    background-color: #293241;
}

#map{
    height:400px;
}

#shipping_info {
    padding: 3%;
}

#payment_info{
    display:none;
    padding:3%;
}

/*CSS FOR PRODUCTS.HTML*/
.product_collapse{
    width:80%;
    margin:auto;
    margin-bottom:1%;
}

.product_collapse:hover{
    cursor:pointer;
}

.product_collapse a{
    height:40px;
    text-align:center;
}

.product_collapse .card-top {
    background-color: #EE6C4D;
    color: white;
}

@media(max-width: 600px) {
    .product_collapse {
        width: 100%;
    }
}